@keyframes dropOut {
  0% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes dropIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes dropInHalf {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes dropOutHalf {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInHalf {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutHalf {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes letterSpaceIn {
  0% {
    letter-spacing: 30px;
  }

  100% {
    letter-spacing: 0px;
  }
}

@keyframes letterSpaceOut {
  0% {
    letter-spacing: 0;
  }

  100% {
    letter-spacing: 30px;
  }
}

@keyframes letterSpaceIn_small {
  0% {
    letter-spacing: 15px;
  }

  100% {
    letter-spacing: 0px;
  }
}

@keyframes letterSpaceOut_small {
  0% {
    letter-spacing: 0;
  }

  100% {
    letter-spacing: 15px;
  }
}

@keyframes hoverZoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes hoverZoomOut {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes hoverZoomInHalf {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.25);
  }
}

@keyframes hoverZoomOutHalf {
  0% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dropShadowIn {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
  }
}

@keyframes dropShadowOut {
  0% {
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
}

@keyframes blurIn {
  0% {
    filter: blur(0);
  }

  100% {
    filter: blur(5px);
  }
}

@keyframes blurOut {
  0% {
    filter: blur(5px);
  }

  100% {
    filter: blur(0);
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes swipeRight {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes nudgeUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-25px);
  }
}

@keyframes nudgeDown {
  0% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes nudgeUpHalf {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes nudgeDownHalf {
  0% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes wiggleXAndNudgeUp {
  0% {
    transform: translateX(0px), translateY(0px);
  }

  25% {
    transform: translateX(-20px);
  }

  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px), translateY(5px);
  }
}

@keyframes wiggleXAndNudgeUp {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-8px, -2.5px);
  }
  20% {
    transform: translate(8px, -5px);
  }
  30% {
    transform: translate(-7px, -7.5px);
  }
  40% {
    transform: translate(7px, -10px);
  }
  50% {
    transform: translate(-4px, -12.5px);
  }
  60% {
    transform: translate(2px, -15px);
  }
  70% {
    transform: translate(-2px, -17.5px);
  }
  80% {
    transform: translate(1px, -20px);
  }
  90% {
    transform: translate(-1px, -22.5px);
  }

  100% {
    transform: translate(0px, -25px);
  }
}
.fadeInM {
  animation: fadeIn 0.25s ease forwards;
}

.fadeOutM {
  animation: fadeOut 0.25s ease forwards;
}

@keyframes fadeInM {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutM {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes borderRound {
  0% {
    border-radius: 0px;
  }

  100% {
    border-radius: 15px;
  }
}

@keyframes borderUnRound {
  0% {
    border-radius: 15px;
  }

  100% {
    border-radius: 0px;
  }
}

@keyframes swipeToLeft {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}

.swipeToLeft {
  animation: swipeToLeft 0.5s ease forwards;
}

@keyframes swipeToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}

.swipeToRight {
  animation: swipeToRight 0.5s ease forwards;
}

@keyframes fadeAway {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeAway {
  animation: fadeAway 0.25s ease forwards;
}
