:root {
  /* text size vars (apply to the element only. */
  --XXTS: 4rem;
  --XTS: 3rem;
  --textSize: 2rem;
  --midTS: 1.5rem;
  --smallTS: 1rem;
}

.home-info {
  font-size: 1rem;
  text-align: center;
  color: var(--color-7);
}

.home-info h1 {
  margin: 15px;
}

.home-title {
  font-size: var(--textSize);
  text-align: center;
  margin: 25px;
}

.home-title h1 {
  margin: 0;
  color: var(--color-4);
}

/* drop down section */
.home-dropdown {
  display: block;
}

.dropdown-anchor {
  display: flex;
  color: var(--color-7);
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.dropdown-button {
  display: flex;
  padding: 25px;
  font-size: var(--textSize);
  color: black;
  background-color: white;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 5px hsla(0, 0%, 0%, 0.25);
  justify-content: center;
  cursor: pointer;
  width: 85%;
  transition: all 0.25s ease;
  margin: 10px;
  justify-content: flex-start;
}

.dropdown-button:hover {
  background-color: var(--color-3);
  animation: hoverZoomIn 0.25s ease forwards;
}

.dropdown-button:not(:hover) {
  animation: hoverZoomOut 0.25s ease forwards;
}

.dropdown-image {
  max-width: 50px;
  max-height: 50px;
  margin: 0px 10px;
}

.dropdown-text {
  flex: auto;
  margin: 0px 10px;
  align-self: center;
}

/* image slider for home */
.slidecontainer {
  padding: 0px;
  margin: 0px;
}

.slidewrapper {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  height: 100%;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.5);
  border-radius: 15px;
  scrollbar-width: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  cursor: pointer;
}

.slider a {
  /* ignore all decorations */
  text-decoration: none;
  color: inherit;
}

.slidernav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slidernav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.25;
}

.sliderprev {
  position: absolute;
  left: -50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: #fff;
  font-size: 4rem;
  cursor: pointer;
}

.slidernext {
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translateY(-50%);
  z-index: 1;
  color: #fff;
  font-size: 4rem;
  cursor: pointer;
}

.sliderprev:hover,
.slidernext:hover {
  animation: fadeInHalf 0.25s ease forwards;
}

.sliderprev:not(:hover),
.slidernext:not(:hover) {
  animation: fadeOutHalf 0.25s ease forwards;
}

/* == */

/* About section */

.about-container {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
}

.about-title {
  margin: 50px;
  font-size: var(--textSize);
}

.about-title h1 {
  color: var(--color-4);
}

.about-content {
  display: flex;
}

.about-content img {
  max-width: 800px;
  max-height: 800px;
  margin: 25px;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.5);
  border-radius: 15px;
}

.about-content img:hover {
  animation: hoverZoomIn 0.25s ease forwards;
}

.about-content img:not(:hover) {
  animation: hoverZoomOut 0.25s ease forwards;
}

.about-description {
  margin: 25px;
  max-width: 600px;
  font-size: var(--midTS);
}

.about-description {
  color: var(--color-4);
}

.about-description p {
  color: var(--color-7);
}

/* == */

/* what we do */

.whatwedo {
  margin: 50px 50px 0px 50px;
}

.whatwedo-title {
  font-size: var(--textSize);
}

.whatwedo-title h1 {
  color: var(--color-4);
  margin: 0px;
}

/* == */
.vl {
  border-left: 6px solid var(--color-4);
  height: 600px;
  margin: 0px 38px 38px 38px;
  z-index: 1;
}

.hl {
  border-bottom: 6px solid var(--color-4);
  width: 100%;
  margin: 25px 0px;
  z-index: 1;
}

.whatwedo-container {
  font-size: var(--textSize);
}

.whatwedo-1-content-1 {
  display: flex;
  flex-wrap: wrap;
}

.number-label-1 {
  margin: 0px 25px 0px 25px;
  color: var(--color-7);
}

.whatwedo-1 img {
  margin: 50px 25px;
  max-width: 900px;
  max-height: 500px;
  color: var(--color-4);
  border-radius: 15px;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.5);
  z-index: 1;
}

.whatwedo-1 img:hover {
  animation: hoverZoomInHalf 0.25s ease forwards;
}

.whatwedo-1 img:not(:hover) {
  animation: hoverZoomOutHalf 0.25s ease forwards;
}

.whatwedo-1-description {
  max-width: 700px;
  z-index: 2;
}

.whatwedo-1-description h1 {
  margin: 50px 25px 25px 25px;
  color: var(--color-4);
  font-size: var(--XTS);
}

.whatwedo-1-description p {
  margin: 25px;
  color: var(--color-7);
  font-size: var(--midTS);
}

.whatwedo-2 img {
  margin: 50px 25px;
  max-width: 900px;
  max-height: 500px;
  color: var(--color-4);
  border-radius: 15px;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.5);
  z-index: 1;
}

.whatwedo-2 img:hover {
  animation: hoverZoomInHalf 0.25s ease forwards;
}

.whatwedo-2 img:not(:hover) {
  animation: hoverZoomOutHalf 0.25s ease forwards;
}

.number-label-2 {
  margin: 0px 25px 0px 25px;
  color: var(--color-7);
  text-align: right;
}

.whatwedo-2-content-2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.whatwedo-2-description {
  max-width: 700px;
  z-index: 2;
}

.whatwedo-2-description h1 {
  margin: 50px 25px 25px 25px;
  color: var(--color-4);
  font-size: var(--XTS);
  text-align: right;
}

.whatwedo-2-description p {
  margin: 25px;
  color: var(--color-7);
  font-size: var(--midTS);
  text-align: right;
}

/* == */

/* portfolio */

.portfolio {
  font-size: var(--textSize);
  margin: 50px 50px 0px 50px;
}

.portfolio h1 {
  margin: 0px;
  color: var(--color-4);
  font-size: var(--XXTS);
}

.portfolio p {
  color: var(--color-7);
  font-size: var(--midTS);
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px;
}

.media {
  position: relative;
  text-align: left;
  margin: 25px;
  cursor: pointer;
}

.media img {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}

.media-text {
  position: absolute;
  max-width: 900px;
  max-height: 400px;
  top: 40%;
  left: 30%;
  transform: translate(-30%, -40%);
  text-align: left;
  font-size: var(--smallTS);
  opacity: 0;
  transition: opacity 250ms ease;
}

.media-text h1 {
  margin: 0px;
  color: var(--color-3);
}

.media-text p {
  color: var(--color-5);
  margin: 0px;
}

/* == */

/* positions */

.positions {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0px;
  height: 100%;
}

.positions-title {
  position: absolute;
  font-size: var(--textSize);
  color: var(--color-3);
  max-width: 1000px;
  margin: 50px;
  z-index: 2;
  top: 25%;
  left: 20%;
}

.positions-title h1 {
  margin: 0px;
}

.positions-title p {
  color: var(--color-2);
  margin: 25px 25px 25px 25px;
}

.positions-buttons {
  display: flex;
  position: absolute;
  justify-content: center;
  margin: 25px;
  z-index: 2;
  left: 70%;
  top: 70%;
}

.positions-buttons button {
  padding: 15px 35px;
  background-color: var(--color-2);
  color: var(--color-7);
  border: 3px solid var(--color-2);
  border-radius: 15px;
  font-size: var(--XTS);
  cursor: pointer;
  transition: all 0.25s ease;
}

.positions-buttons button:hover {
  background-color: var(--color-4);
  color: var(--color-3);
}

.positions-background-img {
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  z-index: 1;
}

.positions-container {
  margin: 50px 0px;
}

.positions-container-title {
  font-size: var(--XTS);
  color: var(--color-4);
  text-align: center;
}

.positions-cards {
  display: block;
}

.position-anchor {
  display: flex;

  color: var(--color-7);
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.position-button {
  display: flex;
  padding: 25px;
  font-size: var(--textSize);
  color: black;
  background-color: white;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 5px hsla(0, 0%, 0%, 0.25);
  justify-content: center;
  cursor: pointer;
  width: 85%;
  transition: all 0.25s ease;
  margin: 10px;
  justify-content: flex-start;
}

.position-button:hover {
  background-color: var(--color-3);
  animation: hoverZoomIn 0.25s ease forwards;
}

.position-button:not(:hover) {
  animation: hoverZoomOut 0.25s ease forwards;
}

.position-image {
  max-width: 50px;
  max-height: 50px;
  margin: 0px 10px;

}

.position-text {
  flex: auto;
  margin: 0px 10px;
  align-self: center;
}


.button1,
.button2,
.button3 {
  filter: invert(25%);
  cursor: not-allowed;
}

/* == */

/* contacts */
.contacts-title {
  font-size: 2rem;
  text-align: center;
  color: var(--color-4);
}

.contacts-social-medias ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: var(--color-6);
}

.contacts-imgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ct {
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
  opacity: 0.75;
  transition: opacity 0.25s ease;
}

.ct:hover {
  opacity: 1;
  animation: nudgeUp 0.25s ease forwards;
}

.ct:not(:hover) {
  animation: nudgeDown 0.25s ease forwards;
}

/* == */

/* farewell */
.farewell-title {
  font-size: 1rem;
  text-align: center;
  color: var(--color-7);
}

/* == */

/* Media query */
@media (max-width: 1375px) {
  .home-info h1 {
    font-size: var(--midTS);
  }

  .about-container {
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 50px;
  }

  .home-title {
    margin: 25px;
    font-size: var(--midTS);
    text-align: center;
  }

  .slidernav {
    bottom: 1.5rem;
  }

  .sliderprev,
  .slidernext {
    font-size: 2.5rem;
  }

  .about-title {
    margin: 25px;
  }

  .about-content img {
    max-width: 95%;
    max-height: 95%;
  }

  .about-description {
    font-size: var(--midTS);
    max-width: 900px;
    margin: 50px;
  }

  .whatwedo-1 img {
    margin: 50px 25px;
    max-width: 800px;
    max-height: 400px;
    color: var(--color-4);
  }

  .vl {
    border-left: 6px solid var(--color-4);
    height: 500px;
    margin: 0px 38px 38px 38px;
  }

  .whatwedo-2 img {
    margin: 50px 25px;
    max-width: 800px;
    max-height: 400px;
    color: var(--color-4);
  }

  .portfolio {
    font-size: var(--midTS);
    margin: 25px;
  }

  .media {
    margin: 25px;
  }

  .media img {
    max-width: 100%;
    max-height: 100%;
  }

  .media-text {
    position: absolute;
    max-width: 900px;
    max-height: 400px;
    top: 40%;
    left: 30%;
    transform: translate(-30%, -40%);
    text-align: left;
    font-size: var(--smallTS);
  }

  .positions {
    margin: 25px 0px;
  }

  .positions-title {
    font-size: var(--midTS);
    top: 10%;
    left: 10%;
  }

  .positions-title p {
    margin: 25px 25px 0px 25px;
  }

  .positions-buttons {
    margin: 25px;
  }

  .positions-buttons button {
    padding: 15px 35px;
    font-size: var(--smallTS);
  }

  .contacts-title {
    font-size: var(--midTS);
  }

  .ct {
    max-width: 150px;
    max-height: 150px;
  }
}

@media (max-width: 840px) {
  .home-info h1 {
    font-size: 1rem;
  }

  .dropdown-button {
    padding: 15px;
  }

  .dropdown-text {
    font-size: var(--smallTS);
  }

  .dropdown-image {
    max-width: 25px;
    max-height: 25px;
    align-self: center;
  }

  .slidecontainer {
    margin: 25px 0px;
  }

  .slidewrapper {
    max-width: 100%;
    max-height: 100%;
  }

  .slider {
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.5);
  }

  .slidernav {
    bottom: 1rem;
  }

  .sliderprev,
  .slidernext {
    font-size: 2rem;
    opacity: 0.25;
  }

  .sliderprev:hover,
  .slidernext:hover {
    animation: none;
  }

  .sliderprev:not(:hover),
  .slidernext:not(:hover) {
    animation: none;
  }

  .sliderprev {
    left: -25%;
    translate: translateX(-25%);
  }

  .slidernext {
    right: -25%;
    translate: translateX(25%);
  }

  .home-title {
    margin: 25px;
    font-size: var(--smallTS);
  }

  .about-title {
    margin: 25px 25px 25px 25px;
    font-size: var(--smallTS);
  }

  .about-title h1 {
    margin: 0;
    text-align: left;
  }

  .about-container {
    margin: 0 15px 0px 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-content img {
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
  }

  .about-content img:hover {
    animation: none;
  }

  .about-content img:not(:hover) {
    animation: none;
  }

  .about-description {
    max-width: 430;
    max-height: 430;
    margin: 15px;
  }

  .about-description h1 {
    margin-top: 0px;
    font-size: var(--textSize);
    text-align: center;
  }

  .about-description p {
    font-size: var(--smallTS);
  }

  .whatwedo {
    margin: 25px;
  }

  .whatwedo-title h1 {
    font-size: var(--midTS);
  }

  .vl {
    /* become horizontal instead */
    border-left: 0px;
    border-top: 3px solid var(--color-4);
    width: 100%;
    height: 0px;
    margin: 15px;
  }

  .number-label-1 {
    margin: 0px 15px 0px 15px;
    color: var(--color-7);
    text-align: center;
    font-size: var(--textSize);
  }

  .whatwedo-1-content-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .whatwedo-1 img {
    margin: 15px 15px;
    max-width: 93%;
    max-height: 93%;
  }

  .whatwedo-1-description h1 {
    font-size: var(--textSize);
    margin: 15px;
    text-align: center;
  }

  .whatwedo-1-description p {
    font-size: var(--smallTS);
  }

  .whatwedo-2 img {
    margin: 15px 15px;
    max-width: 93%;
    max-height: 93%;
  }

  .number-label-2 {
    margin: 0px 25px 0px 25px;
    color: var(--color-7);
    font-size: var(--textSize);
    text-align: center;
  }

  .whatwedo-2-description h1 {
    font-size: var(--textSize);
    margin: 15px;
    text-align: center;
  }

  .whatwedo-2-description p {
    font-size: var(--smallTS);
    text-align: left;
  }

  .portfolio {
    margin: 15px;
  }

  .portfolio-title h1 {
    font-size: var(--textSize);
  }

  .portfolio p {
    font-size: var(--smallTS);
    margin: 15px 15px 15px 15px;
  }

  .portfolio-container {
    margin: 0px;
  }

  .media {
    margin: 0px;
  }

  .media img {
    max-width: 100%;
    max-height: 100%;
    margin: 0px 0px;
  }

  .media-text {
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-size: var(--smallTS);
    margin: 0px;
  }

  .media-text h1 {
    font-size: var(--smallTS);
    margin: 0px;
  }

  .media-text p {
    font-size: var(--smallTS);
    margin: 0px;
  }

  .positions {
    position: none;
    margin: 15px;
  }

  .positions-title {
    display: none;
  }

  .positions-buttons {
    display: none;
  }

  .positions-background-img {
    display: none;
  }

  .positions-container-title {
    font-size: var(--textSize);
  }

  .position-text {
    font-size: var(--smallTS);
  }

  .position-button {
    padding: 15px;

  }

  .position-image {
    max-width: 25px;
    max-height: 25px;
  }


  .hl {
    display: none;
  }

  .card {
    max-width: 300px;
    max-height: 525px;
  }

  .card img {
    max-width: 300px;
    max-height: 300px;
  }

  .contacts-title h1 {
    font-size: var(--textSize);
  }

  .ct {
    max-width: 100px;
    max-height: 100px;
  }

  .farewell-title {
    font-size: 0.6rem;
  }

  .farewell-title img {
    max-width: 250px;
    max-height: 250px;
  }
}

/* == */
