:root {
  --textSize: 2rem;
  --midTS: 1.5rem;
  --smallTS: 1rem;
}
.home-info {
  font-size: 1rem;
  text-align: center;
  color: var(--color-2);
}
.home-info h1 {
  margin: 0px;
}

.home-title {
  font-size: var(--textSize);
  text-align: center;
  margin: 25px;
}
.home-title h1 {
  margin: 0;
  color: var(--color-4);
}

/* image slider for home */
.home-container {
  padding: 50px;
}

.home-slider-wrapper {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
}

.home-slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.75);
  border-radius: 0.5rem;
  scrollbar-width: none;
}

.home-slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.home-slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.home-slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  transition: opacity ease 250ms;
}

.home-slider-nav a:hover {
  opacity: 1;
}
/* == */

/* About section */

.about-container {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
}

.about-title {
  margin: 50px;
  font-size: var(--textSize);
}
.about-title h1 {
  color: var(--color-4);
}
.about-content {
  display: flex;
}
.about-content img {
  max-width: 800px;
  max-height: 800px;
  margin: 25px;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.5);
  border-radius: 0.5rem;
}

.about-description {
  margin: 25px;
  max-width: 600px;
  font-size: 1.5rem;
}
.about-description {
  color: var(--color-4);
}
.about-description p {
  color: var(--color-2);
}

.portfolio {
  font-size: var(--textSize);
  margin: 50px 50px 0px 50px;
}

.portfolio h1 {
  color: var(--color-4);
  margin: 0px;
}

.portfolio p {
  margin: 25px;
  color: var(--color-2);
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px;
}

.media {
  position: relative;
  text-align: left;
  margin: 10px;
}
.media img {
  max-width: 800px;
  max-height: 1080px;
  opacity: 1;
  border-radius: 5px;
}

.media-text {
  position: absolute;
  max-width: 900px;
  max-height: 400px;
  top: 40%;
  left: 30%;
  transform: translate(-30%, -40%);
  text-align: left;
  font-size: var(--smallTS);
  opacity: 0;
  transition: opacity 250ms ease;
}

.media-text h1 {
  margin: 0px;
  color: var(--color-2);
}
.media-text p {
  margin: 0px;
}

.media:hover {
  animation: fadeOutHalf 0.25s ease forwards, nudgeUp 0.25s ease forwards;
}

.media:not(:hover) {
  animation: fadeInHalf 0.25s ease forwards, nudgeDown 0.25s ease forwards;
}

/* == */

/* positions */

.positions {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 50px 0px 50px;
}

.positions-title {
  font-size: 2rem;
  color: var(--color-4);
  max-height: 300px;
}

.positions-title h1 {
  margin: 0px;
}

.positions-title p {
  color: var(--color-2);
  max-width: 800px;
  max-height: 250px;
  margin: 25px 25px 25px 25px;
}

.positions-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: block;
  text-align: center;
  max-width: 400px;
  max-height: 625px;
  margin: 25px;
  border-radius: 25px;
  border: 5px solid var(--color-2);
  background-color: var(--color-3);
  transition: background-color 250ms ease;
}

.card:hover {
  opacity: 1;
  background-color: var(--color-5);
  animation: hoverZoomIn 0.25s ease forwards;
}
.card:not(:hover) {
  animation: hoverZoomOut 0.25s ease forwards;
}
.card img {
  border-radius: 20px;
  max-width: 400px;
  max-height: 500px;
}
.card h1 {
  font-size: 1.5rem;
  margin: 25px;
}

.card p {
  text-align: left;
  font-size: 1rem;
  margin: 25px;
  color: var(--color-);
}

/* not available positions: change display to none. */

.job-2,
.job-3,
.job-4,
.job-5,
.job-6 {
  display: block;
}

/* == */

/* contacts */
.contacts-title {
  font-size: 2rem;
  text-align: center;
  color: var(--color-4);
}
.contacts-social-medias ul {
  list-style-type: none;
  text-decoration: none;

  margin: 0;
  padding: 0;
  color: var(--color-6);
}
.contacts-imgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ct {
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
  opacity: 0.5;
}

.ct:hover {
  opacity: 1;
  animation: fadeInHalf 0.25s ease forwards,
    wiggleXAndNudgeUp 0.25s ease forwards;
}

.ct:not(:hover) {
  animation: fadeOutHalf 0.25s ease forwards, nudgeDown 0.25s ease forwards;
}

/* == */

/* farewell */
.farewell-title {
  font-size: 1rem;
  text-align: center;
  color: var(--color-2);
}
/* == */

/* Media query */
@media (max-width: 1375px) {
  .home-info h1 {
    font-size: var(--midTS);
  }
  .about-container {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 25px 50px;
  }
  .home-title {
    margin: 25px;
    font-size: var(--midTS);
    text-align: center;
  }
  .about-title {
    margin: 25px;
    font-size: var(--midTS);
  }
  .about-content img {
    max-width: 500px;
    max-height: 500px;
    margin: auto;
  }
  .about-description {
    max-width: 500px;
    margin: 50px;
  }
  .portfolio {
    font-size: var(--midTS);
  }
  .media {
    margin: 5px;
  }
  .media img {
    max-width: 600px;
    max-height: 880px;
    opacity: 0.75;
  }

  .media-text {
    position: absolute;
    max-width: 900px;
    max-height: 400px;
    top: 40%;
    left: 30%;
    transform: translate(-30%, -40%);
    text-align: left;
    font-size: var(--smallTS);
  }
  .positions {
    margin: 25px;
  }
  .positions-title {
    font-size: var(--midTS);
  }
  .positions-title p {
    margin: 25px 25px 0px 25px;
  }
  .contacts-title {
    font-size: var(--midTS);
  }
  .ct {
    max-width: 150px;
    max-height: 150px;
  }
}
@media (max-width: 840px) {
  .home-info h1 {
    font-size: 1rem;
  }
  .home-container {
    padding: 0px;
  }
  .home-slider-wrapper {
    max-width: 350px;
    max-height: 350px;
  }
  .home-slider {
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.5);
  }
  .home-title {
    margin: 25px;
  }
  .home-title h1 {
    font-size: 1.5rem;
  }
  .about-title {
    margin: 25px 25px 25px 25px;
  }
  .about-title h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: left;
  }
  .about-container {
    margin: 0 25px 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-content img {
    max-width: 350px;
    max-height: 350px;
    margin: 0 25px 25px;
  }
  .about-description {
    max-width: 430;
    max-height: 430;
    margin: 25px;
  }
  .about-description h1 {
    margin-top: 0px;
    font-size: 1.25rem;
  }
  .about-description p {
    font-size: 1rem;
  }
  .media {
    margin: 5px;
  }

  .media img {
    max-width: 350px;
    max-height: 400px;
    opacity: 0.75;
  }

  .media-text {
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    top: 40%;
    left: 30%;
    transform: translate(-30%, -40%);
    text-align: left;
    font-size: var(--smallTS);
  }

  .media-text h1 {
    font-size: 1rem;
  }
  .media-text p {
    font-size: 1rem;
  }

  .portfolio {
    margin: 25px;
  }
  .portfolio-title h1 {
    font-size: var(--midTS);
  }
  .portfolio p {
    margin: 0px 25px;
  }
  .portfolio-container {
    margin: 0px;
  }
  .positions {
    margin: 25px 25px 0px 25px;
  }
  .positions-title h1 {
    font-size: var(--midTS);
  }
  .positions p {
    margin: 0px 25px;
  }
  .card {
    max-width: 300px;
    max-height: 525px;
  }
  .card img {
    max-width: 300px;
    max-height: 300px;
  }
  .contacts-title h1 {
    font-size: var(--textSize);
  }

  .ct {
    max-width: 100px;
    max-height: 100px;
  }
  .farewell-title {
    font-size: 0.6rem;
  }
  .farewell-title img {
    max-width: 250px;
    max-height: 250px;
  }
}
/* == */
