:root {
  --font-body: "Hind Siliguri", sans-serif;
  --font-nav: "Bebas Neue", sans-serif;
  --color-1: #b9e6ff;
  --color-2: white;
  --color-3: #c1d8f0;
  --color-4: #4663ac;
  --color-5: #d2deeb;
  --color-6: #e1f1fd;
  --color-7: black;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-1);
  font-family: var(--font-body);
  overflow-x: hidden;
}

/* nav bar */
.navbar {
  display: flex;
  margin: 0px;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--color-1);
}

.navbar-logo-image {
  max-width: 300px;
  max-height: 300px;
}

.navbar-icon {
  display: none;
  max-width: 50px;
  max-height: 50px;
}

.navbar-element-holder {
  display: flex;
}

.navbar-logo {
  display: flex;
  align-items: center;
  padding: 0px 200px;
}

.navbar-divider {
  align-self: center;
  color: var(--color-6);
}

.navbar-links {
  display: flex;
  align-items: center;
}

.links-list {
  display: flex;
  font-size: 25px;
}

.links-list li {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.links-list a {
  text-decoration: none;
  color: var(--color-2);
  transition: color 0.25s ease;
}

.links-list a:hover {
  color: var(--color-6);
  animation: nudgeUpHalf 0.25s ease forwards;
}

.links-list a:not(:hover) {
  color: var(--color-2);
  animation: nudgeDownHalf 0.25s ease forwards;
}

.navbar-links {
  display: flex;
  margin: 0px;
}

.navbar-links ul {
  list-style-type: none;
  text-decoration: none;

  margin: 0;
  padding: 0;
  color: var(--color-link);
}

.navbar-quicklinks {
  margin: 0px;
  align-self: center;
}

.navbar-quicklinks ul {
  list-style-type: none;
  text-decoration: none;

  margin: 0;
  padding: 0;
  color: var(--color-link);
}

.quicklinks-imgs {
  display: flex;
  align-items: center;
}

.ql {
  max-width: 45px;
  max-height: 45px;
  padding: 10px;
  opacity: 0.5;
}
.ql:hover {
  opacity: 1;
  animation: fadeInHalf 0.25s ease forwards, nudgeUpHalf 0.25s ease forwards;
}

.ql:not(:hover) {
  animation: fadeOutHalf 0.25s ease forwards, nudgeDownHalf 0.25s ease forwards;
}
/* == */

/* button */
#upButton {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  opacity: 0.75;
  cursor: white;
  cursor: pointer;
  padding: 30px;
  background: none;
}
#upButton img {
  max-width: 50px;
  max-height: 50px;
}

#upButton:hover {
  opacity: 1;
  animation: nudgeUp 0.25s ease forwards;
}

#upButton:not(:hover) {
  animation: nudgeDown 0.25s ease forwards;
}

/* == */

/* navbar mobile version */
.navbar-mobile {
  display: none;
  position: fixed;
  background-color: var(--color-3);
  left: 50%;
  width: 100%;
  height: 98%;
  z-index: 100;
  border-radius: 15px;
  box-shadow: 0px 0px 200px 200px hsla(0, 0%, 0%, 0.25);
}

.navbar-mobile-close-button {
  max-width: 25px;
  max-height: 25px;
  padding: 25px 25px 0px 25px;
  z-index: 101;
  opacity: 0.5;
  transition: opacity 0.25s ease;
}

.navbar-mobile img:hover {
  cursor: pointer;
  opacity: 1;
}
.navbar-mobile-links-list {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.navbar-mobile-links-list li {
  text-decoration: none;
  list-style: none;
}
.navbar-mobile-links-list a {
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  color: var(--color-6);
}
.navbar-mobile-links-list a:hover {
  color: white;
  animation: nudgeUpHalf 0.25s ease forwards;
}

.navbar-mobile-links-list a:not(:hover) {
  color: var(--color-6);
  animation: nudgeDownHalf 0.25s ease forwards;
}

.navbar-mobile-navbar-quicklinks {
  display: flex;
  justify-content: left;
  margin: 0px 0px;
  align-items: center;
}

.navbar-mobile-navbar-quicklinks ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  padding: 25px;
  color: var(--color-link);
}

.navbar-mobile-quicklinks-imgs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.navbar-mobile-quicklinks-imgs img {
  max-width: 75px;
  max-height: 75px;
  padding: 10px 10px;
}
.navbar-mobile-navbar-divider {
  align-self: center;
  margin: 0px 40px;
  color: var(--color-6);
}
.navbar-mobile-navbar-divider p {
  margin: 0px;
}

.navbar-mobile-ql {
  opacity: 0.5;
}
.navbar-mobile-ql:hover {
  opacity: 1;
  animation: fadeInHalf 0.25s ease forwards;
}

.navbar-mobile-ql:not(:hover) {
  animation: fadeOutHalf 0.25s ease forwards;
}
/*  */

/* ===== */

@media (max-width: 1375px) {
  .navbar {
    display: block;
  }
  .navbar-logo {
    display: block;
    text-align: center;
    margin: 15px 0;
  }
  .navbar-logo-image {
    max-width: 350px;
    max-height: 350px;
  }
  .navbar-links {
    display: block;
    margin: 15px 0;
    text-align: center;
  }
  .navbar-quicklinks {
    display: block;
    margin: 15px 0;
    text-align: center;
  }
  .navbar-links li {
    display: inline-block;
  }
  .links-list {
    display: flex;
    justify-content: center;
    font-size: 35px;
  }

  .quicklinks-imgs {
    display: flex;
    justify-content: center;
  }
  .ql {
    max-width: 50px;
    max-height: 50px;
  }
  .quicklinks-imgs li {
    display: flex;
  }

  .navbar-divider p {
    display: block;
    text-align: center;
    margin: 0;
  }
  #upButton img {
    max-width: 50px;
    max-height: 50px;
  }
}

@media (max-width: 840px) {
  .navbar {
    display: flex;
    justify-content: space-between;

    margin: 0 0px;
  }
  .navbar-logo {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 25px;
    padding: 0px 100px 0px 0px;
  }
  .navbar-logo-image {
    max-width: 125px;
    max-height: 125px;
  }
  .navbar-icon {
    display: flex;
    margin: 0;
    opacity: 0.5;
    transition: opacity 250ms ease;
    margin: 0px;
    padding: 25px;
    cursor: pointer;
  }
  .navbar-toggle {
    align-self: center;
  }

  .navbar-icon:hover {
    opacity: 1;
  }

  .navbar-divider {
    display: none;
  }
  .navbar-links {
    display: none;
  }
  .navbar-quicklinks {
    display: none;
  }

  #upButton {
    bottom: 0px;
    right: 0px;
  }
  #upButton img {
    max-width: 25px;
    max-height: 25px;
  }
}
.copyright {
  color: var(--color-2);
  text-align: center;
}
